* {
    margin: 0;
    padding: 0;
}

.wrap {
    width: 95%;
    height: 600px;
    background: rgba(204, 80, 39, 0.87);
    margin: auto;
}

.header {
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 75px;
}

.data {
    display: flex;
    justify-content: space-evenly;
}

.title {
    color: chocolate;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 10px;
}

.txt {
    text-align: center;
}

.box {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    background: burlywood;
    margin: 10px;
    border: 3px solid black;
    border-radius: 10px;
}
i{
    font-size: 50px;
    text-align: center;
    margin: 10px;
}

button{
    background: #6bb967;
    height: 40px;
    color: white;
    font-size: 20px;
}
