.box{
    height: 700px;
    width: 700px;
    background: #6394eb;
    margin: auto;
}
.text{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.header{
    width: 100%;
    height: 150px;
    background: #0c65a6;
}
.nav{
    width: 100%;
    height: 100px;
    background: #134c78;
}
.center{
    display: flex;
}
.main{
    width: 60%;
    height: 350px;
    background: #16a1c4;
}
.aside{
    width: 40%;
    height: 350px;
    background: #5275ac;
}
.footer{
    height: 100px;
background: #7bcbe2;
}