body{
    background: #76c1f3;
}
.txt{
    background: #14ee97;
    font-size: 25px;
}
h1{
    text-align: center;
    color: #006fda;
}
.act{
    font-size: 20px;
}
img{
    width: 270px;
    height: 400px;
}