*{
    margin: 0;
    padding: 0;
}
.wrap{
    background: #fd6e1d;
    height: 750px;
}
.top, .footer{
    box-sizing: border-box;
    height: 160px;
    margin-right: 0;
    margin-left: 0;

}
.he250 {
    height: 250px;
}
.he130{
    height: 130px;
}
.top,  .right-top, .right-bottom, .foo{
    display: flex;
justify-content: center;
}
.center{
    display: flex;
    box-sizing: border-box;
    height: 400px;
    justify-content: space-around;
}
.left{
    display: flex;
    flex-direction: column;

}
.bgr{
    background: #646464;
    margin: 5px;
    box-sizing: border-box;
}

p{
    text-align: center;
    font-size: 20px;
    color: white;

}

.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.num{
    color: #e38287;
}
.footer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
