.box{
    background: #06bbd3;
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
}


h3{
    text-align: start;
    color: #ebc065;
    font-family: Arial;
}
.post{
    width: 400px;
    height: 150px;
    background: #fcfdfd;
    border-radius: 5px;
    display: flex;
    padding: 20px;
    align-items: center;
    align-content: center;
}
.info{
    margin-left: 20px;
}
i{
    font-size: 60px;
}